[submodule "luvit"]
	path = luvit
	url = https://github.com/luvit/luvit
[submodule "deps/discordia-interactions"]
	path = deps/discordia-interactions
	url = https://github.com/Bilal2453/discordia-interactions
[submodule "deps/watcher"]
	path = deps/watcher
	url = https://github.com/TohruMKDM/fs-watcher
