*

!/.gitignore

!*.go
version.go
!go.mod

!README.md
!LICENSE

!commands.json

!*/
!resource/*
resource/commands_old.json
resource/outlast-trials.bms

!config-template.toml

!version-gen.sh